@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Italic.ttf') format('ttf');
  font-weight: 300;
  font-display: optional;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Medium.ttf') format('ttf');
  font-weight: 500;
  font-display: optional;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Medium-Italic.ttf') format('ttf');
  font-weight: 500;
  font-display: optional;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold.ttf') format('ttf');
  font-weight: bold;
  font-display: optional;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold-Italic.ttf') format('ttf');
  font-weight: bold;
  font-display: optional;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold.ttf') format('ttf');
  font-weight: 800;
  font-display: optional;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold-Italic.ttf') format('ttf');
  font-weight: 800;
  font-display: optional;
  font-style: italic;
}
